*~
.project
.classpath
.settings
/.idea/
/.metadata/
*.iml
*.log
*.versionsBackup
target/
rebel.xml
samples/model-client-sample-dotnet/ModelClientSample/ModelClientSample/bin
samples/model-client-sample-dotnet/ModelClientSample/ModelClientSample/obj
velocity.log
.java-version

dependency-reduced-pom.xml
/nb-configuration.xml
/nbactions.xml

.DS_Store

tools/schrodinger/build
testing/schrodingertest/build

test-output/

_mess
.checkstyle
### VS Code ###
.vscode/
*.MF
*.class
*.class
*.class
*.class
share/target/*
share/target/classes/share/share/App.class
share/target/classes/fis/com/vn/entities/OCRField.class
share/target/classes/fis/com/vn/resp/Resp.class
share/target/classes/fis/com/vn/table/MType.class
share/target/classes/fis/com/vn/table/MUser.class
share/target/classes/fis/com/vn/table/MUserType.class
share/target/classes/share/share/App.class
share/target/maven-archiver/pom.properties
share/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
share/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
share/target/share-0.0.1-SNAPSHOT.jar
